body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

p {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  padding: 0;
  gap: 16px
}

li {
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding: 8px 10vw;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin: 8px 0;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  padding: 50px 10vw;
  margin: 0;
}

h3 {
  font-size: 24px;
  color: #f9faf8;
  margin-left: 5px;
}

.logo-img {
  max-width: 70px;
  height: auto;
}

.hero-img {
  flex: 2;
  min-width: 600px;
  max-width: 900px;
  height: 100%;
}

.hero-body {
  background-color: #1f2937;
  padding: 100px 10vw 150px;
  display: flex;
}

.hero-content {
  margin-right: 32px;
  flex: 1;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  padding: 8px 32px;
  border-radius:8px;
  border-style: none;
  font-weight: bold;
}

.information-content {
  color: #1f2937;
  display: flex;
  justify-content: center;
  gap: 82px;
  padding: 0px 10vw 150px;
  text-align: center;
}

.information-img {
  border: 4px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius: 16px;
  background-size: cover;
}

.img-1 {
  background-image: url(images/husky-style.jpg);
}

.img-2 {
  background-image: url(images/wolf-artistic-white.png);
}

.img-3 {
  background-image: url(images/wolf-style.png);
}

.img-4 {
  background-image: url(images/Wolf-Moon-Style.jpg);
}

.figure {
  max-width: 200px;
}

.quote-content {
  padding: 100px 10vw 100px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  text-align: center;
  color: #1f2937;
  font-weight: lighter;
  width: 800px;
}

.quote-origin {
  font-weight: bolder;
  text-align: right;
  color: #1f2937;
  font-size: 24px;
  align-self: flex-end;
}

.call-to-action {
  margin: 100px 10vw 100px;
  padding: 50px 100px;
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.action-text {
  color: #e5e7eb;
}

.action-header {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.button-border {
  border: 2px solid white;
}